body{
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: black;
}
#main-container{
  width: 100vw;
}
#head-title{
  width: 100vw;
  height: 4vh;
  background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#head-title > p{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}
#main-container header{
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#main-container header img{
  width: 182px;
  height: 27px;
}
#main-container a{
  text-decoration: none;
  color: #848895;
  font-size: 17px;
  font-weight: 400;
  line-height: 27.3px;
  margin-left: 56px;
}
#main-container section{
  width: 100vw;
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-heading-developers{
  color: white;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0.68px;
  margin: 0;
}
.section-heading-everyone{
  color: white;
  font-size: 68px;
  font-weight: 400;
  letter-spacing: 0.68px;
  margin: 0;
}
.section-description{
  color: white;
  font-size: 21px;
  font-weight: 400;
  width: 21%;
  margin: 55px 0 55px 0;
}
.start-button{
  width: 181px;
  height: 52px;
  border-radius: 36px;
  border: 1px solid #000;
  background:  linear-gradient(152deg, #8C01FA 0%, #000 100%);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.read-docs-button{
  width: 146px;
  height: 52px;
  border-radius: 36px;
  border: 1px solid #FFF;
  background: #000;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 15px;
}
.start-button:hover,.read-docs-button:hover{
  background: white;
  color: black;
  cursor: pointer;
  transform: translate(0,-3px);
}
#main-container footer{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main-container footer>p{
  color: #618ADC;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}
#main-container footer div{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
/* next page - Join a community */
#container-community{
  width: 100vw;
  display: flex;
}
.quote{
  width:50vw;
  display: flex;
  justify-content: end;
}
.quote p{
  color: white;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 200px  234px 0 0;
}
#container-community aside{
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.statistics-section{
  margin-top: 45px;
}
.statistics-desc{
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.number-of-active-accounts{
  font-size: 101px;
  font-weight: 400;
  background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
.number-of-nfts-minted{
  font-size: 106px;
  font-weight: 400;
  background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
.average-cost{
  font-size: 110px;
  font-weight: 400;
  background: linear-gradient(222deg, #00FFBD 0%, #025B8C 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 45px 0 0 0;
}
/* next page - Set of techniques */
#set-of-techniques{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main{
  width: 70vw;
  display: flex;
  position: relative;
}
.width-of-article{
  width: 23.3vw;
}
#quotation{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.quotation-first-part{
  color: #FFF;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 105px 0 0;
}
.quotation-second-part{
  color: #FFF;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}
.live_data{
  font-family: 'Roboto', sans-serif;
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 195px 0 0;
}
#container-fast-scalable{
  padding-left: 137px;
  box-sizing: border-box;
}
.block-fast, .block-scalable{
  display: flex;
  flex-direction: column;
  width: 55%;
}
#container-decentralized-efficient{
  position: absolute;
  right: 50px;
  top: -80px;
}
.block-decentralized,.block-efficient{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.block-fast,.block-decentralized{
  margin-bottom: 71px;
}
.white-text-large{
  color: #FFF;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 33.04px;
}
.white-text-medium{
  color: #FFF;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 28px;
}
.desc-of-block-fast{
  color: #C4C4C4;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  line-height: 27.3px;
}
.desc-of-block{
  color: #C4C4C4;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 27.3px;
}
.text-roboto-uppercase{
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.number_of_validator_nodes{
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
.block-efficient .desc-of-block a{
  color: #19FB9B;
}
/* next page - Build for growth. */
#growth_section{
  width: 100vw;
}
#growth_section>section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main-heading{
  width: 55vw;
  height: 10vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.heading_build_for_growth{
  color: white;
  font-size: 39px;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 1px;
}
.buttons button{
  border-radius: 15px;
  border: 1px solid #111;
  background: #111;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 27.3px;
  margin-right:16px;
}
.button_NFTs{
  width: 64px;
  height: 48px;
}
.button_defi{
  width: 62px;
  height: 48px;
}
.button_payments{
  width: 98px;
  height: 48px;
}
.button_gaming{
  width: 83px;
  height: 48px;
}
.button_DAOs{
  width: 71px;
  height: 48px;
}
#growth_section div > .active{
  border: 1px solid #A962FF;
}
#growth_section div button:hover{
  cursor: pointer;
  background-color: #343434;
}
#section-NFTs{
  display: flex;
  justify-content: center;
  align-items: center;
}
.back_image{
  width: 21vw;
  height: 40.5vh;
  background-image: url("images/man_with_phone.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.content_NFTs{
  width: 21vw;
  height: 40.5vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-left: 48px;
}
.content_NFTs> img{
  width: 23vh;
  height: 51vh;
  padding-top: 95px;
}
.content_NFTs > p{
  color: white;
  font-size: 21px;
  font-weight: 400;
  line-height: 27.3px;
  width: 440px;
  padding-right: 63px;
}
.content_NFTs a{
  text-decoration: none;
  color: #A962FF;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.3px;
  padding-bottom: 87px;
}
#images{
  width: 44vw;
  height: 8vh;
  border-radius: 16px;
  background: rgba(38, 31, 38, 0.30);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
/* next page - Join a thriving community.*/
#container-join-community{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column ;
}
.heading_join_community{
  width: 70vw;
  height: 30vh;
  display: flex;
  align-items: end;
  justify-content: center;
}
.heading_join_community h2{
  color: #FFF;
  font-size: 38px;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 1px;
  margin: 0 0 35px 0;
}
#images_community {
  width: 70vw;
  display: flex;
}
.flex_column_margin{
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}
.card {
  width: 11vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background: #19161C;
}
.small-image{
  width: 11vw;
  height: 20vh;
}
.image_speaker{
  width: 11vw;
  height: 42vh;
}
.image_journalists{
  width: 22vw;
  height: 42vh;
}
.image-people-at-computers, .margin-card{
  margin-bottom: 20px;
}
.developers-count{
  color: #19FB9B;
  font-size: 42px;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 1px;
  margin: 0;
}
.card-content {
  color: #BABABA;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 15.36px;
  text-align: center;
}
.attendees-count{
  color: #FFEB3B;
  font-size: 42px;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 1px;
  margin: 0;
}
.participants-count{
  color: #F087FF;
  font-size: 37px;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 1px;
  margin: 0;
}
#solana_creators{
  width: 100vw;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.solana-creators-paragraph{
  color: #FFF;
  font-size: 38px;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 1px;
}
#solana_creators button{
  width: 175px;
  height: 50px;
  border-radius: 36px;
  border: 1px solid #000;
  background: linear-gradient(152deg, #8C01FA 0%, #000 100%);
  font-size: 15px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
#solana_creators button:hover{
  background: white;
  color: black;
  cursor: pointer;
  transform: translate(0,-3px);
}
/* footer */
#footer{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer_container{
  width: 60vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #262626;
  border-radius: 12px 12px 0 0;
  background: #000508;
}
#footer_section_left{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
.managed_by{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.3px;
}
.all_rights_reserved{
  color: #848895;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.3px;
}
#apps svg{
  width: 26px;
  height: 16px;
  background: #848895;
  margin-right: 10px;
}
#reddit{
  border-radius: 45%;
}
#footer_section_right{
  display: flex;
}
#footer_section_right div{
  margin-right: 68px;
}
.title-white{
  font-weight: 400;
  font-size: 16px;
  color: white;
  line-height: 18.72px;
}
.item-gray{
  font-size: 15px;
  font-weight: 400;
  line-height: 18.72px;
  color: #848895;
}
.container_language{
  margin-top: 15px
}
.language{
  color: #848895;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  display: inline;
}
